<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Account Creator Program</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css"  /> <!-- Link to the CSS file -->
    </head>
    <!-- End of head -->

    <!-- Start of body -->
    <body>
        
        <div class="container">
            <div class="textbox-container">

                <!-- Adds our textbox forms -->
                <form id="loginForm">
                    <label for="unInput">Username:</label>
                    <input type="text" id="unInput" name="unInput" placeholder="Username">
                    <!-- Adds password label and box -->
                    <label for="pw-textbox">Password: </label>
                    <input type="text" id="pw-textbox" name="pw-textbox" placeholder="Enter your password">
                    <!--Adds submit box -->
                    <input type="submit" value="Submit">    
                </form>
            </div>
        </div>

        <!-- Start of javascript -->
        <script>
            // Event listener when the form is submitted with name loginForm
            document.getElementById("loginForm").addEventListener("submit", function(event) {
                // Prevent Default submissions
                event.preventDefault();

                // Get value of username and password when submit is pressed
                var unValue = document.getElementById("unInput").value;
                var pwValue = document.getElementById("pw-textbox").value;

                // Json object with unValue value
                var loginData = { 
                    Username: unValue,
                    Password: pwValue };
            
                // Make an HTTP POST request to the Go server
                fetch("http://localhost:8080/submit", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    // Pass our model using JSON
                    body: JSON.stringify(loginData),
                })
                // Error handling
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    console.log("Text submitted successfully!");
                })
                .catch(error => {
                    console.error("Error submitting text:", error);
                });
            });
        </script>
        <!-- End of javascript -->
    </body>
    <!-- End of body -->

</html>